@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&family=Inter:wght@100;200;400&family=Manrope:wght@800&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: #111111;
}

header, nav, section, footer {
  width: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  padding: 2rem calc((100% - 60rem) / 2);
}

header > ul, section > ul, footer > ul, nav > ul {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 0;
}

header > ul li, section > ul li, footer > ul li, nav li {
  display: inline;
  text-decoration: none;
  margin: 1rem auto;
}

#agenda h2 {
  text-align: right;
}

#agenda ul {
  display: block;
}

#agenda li {
  display: block;
  margin: 0;
}

#agenda strong {
  margin-left: 2em;
  line-height: 2em;
}

#agenda em {
  display: table;
  margin-left: auto;
}

#logistics li {
  margin: 1rem;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
                    url("/images/headerBg.jpg");
  color: #DDDDDD;
  font-family: 'Inter', sans-serif;
}

header h1 {
  font-size: 3.2rem;
  text-transform: none;
  margin-bottom: 0;
  line-height: 1.15;
  font-weight: 200;
}

h1, h2 {
  text-transform: uppercase;
  padding: .3em 0;
}

h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

h2 {
  border-bottom: 2px solid #FFFFFF;
  font-size: 2em;
}

header p, #quote p {
  font-size: 3rem;
  line-height: 1.4em;
  margin: 0.2rem 0 2rem;
  font-family: 'EB Garamond', serif;
  font-weight: 600;
}

body nav {
  position: sticky;
  padding-top: 0;
  padding-bottom: 0;
  top: 0;
}

nav a, nav a:hover, nav a:active {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.dark {
  background-color: #0e0000;
  color: #DDDDDD;
}

#about {
  min-height: 36em;
  line-height: 2em;
}

#about img {
  float: right;
  width: 24em;
  height: 24em;
  border-radius: 50%;
  margin: 0 0 4em 4em;
}

#attend button, #about button {
  display: block;
  margin: auto;
}

button {
  display: inline-block;
  padding: 0.5em 3em;
  margin: 0 0.3em 0.3em 0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  transition: all 0.15s;
  border: 0.16em solid #000000;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
}
a button:hover{
  columns: #888888;;
  border-color:#888888;
}
a button:active{
  color: #666666;
  border-color: #666666;
}
.dark button {
  border: 0.16em solid #FFFFFF;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  color: #FFFFFF;
}
.dark a button:hover{
  color:#DDDDDD;
  border-color:#DDDDDD;
}
.dark a button:active{
  color: #BBBBBB;
  border-color: #BBBBBB;
}
.dark a {
  color: #DDDDDD;
  text-decoration: underline;
}

#speakers h1, #speakers h2 {
  text-align: center;
}

#speakers img {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  object-fit: cover;
  float: right;
}

#endorsements {
  text-align: center;
}

#endorsements img {
  max-height: 12em;
  max-width: 24em;
}

#quote {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                    url('/images/quoteBg.jpg');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 6em;
  padding-top: 6em;
}

#agenda {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
                    url('/images/agendaBg.jpg');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#attend h2 {
  text-align: center;
  text-transform: uppercase;
  line-height: 6rem;
}

#agenda h3 {
  margin-bottom: 0;
}

#agenda p, #agenda p strong {
  margin-bottom: 0;
  margin-top: 0;
}

a {
  text-decoration: none;
}

a * {
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 40vh;
  margin: 1em 0 0 0;
  border: none;
}

@media only screen and (max-width: 62rem) {
  header, section, footer {
    padding: 2rem calc((100% - 37.5rem) / 2);
  }
  #about img {
    height: 16em;
    width: 16em;
  }
  #endorsements img {
    max-height: 8em;
    max-width: 18em;
  }
  #speakers img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 42rem) {
  header, section, footer {
    padding: 2rem calc((100% - 20rem) / 2);
  }
  #about img {
    float: initial;
    height: 12em;
    width: 12em;
  }
  #endorsements img {
    max-height: 4em;
    max-width: 12em;
  }

  header p, #quote p {
    font-size: 2.2rem;
  }

  header h1 {
    font-size: 2.4rem;
    font-weight: 200;
  }
}
